/* standaard styling */

body {
    font-family: "Arimo", sans-serif;

    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-x: hidden;

    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .name-label {
    font-family: "Bree Serif", serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 5px;
}

.preferences h1{
    margin-top: 40px;
}


h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

h3, .name-label {
    font-size: 1.6em;
}

p, span, div, .checkbox {
    font-size: 1.6rem;
}

.settings {
    margin-top: 0px;
}

/* overriding templates */
.template {
    padding-top: 40px;
}

.template.welcome {

    background: url("../img/assets/bg-home/berg.jpg") no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
}

.labeltext {
    position: absolute;
    text-indent: -9999px;
}

.hide-on-mobile {
    display: none;
}

.message {
    margin-bottom: 10px;
    display: block;
}

.message.title {
    font-weight: bold;
}

.profielfoto {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.profielfoto.mini {
    object-fit: cover;
    width: 30px;
    height: 30px;

    margin-right: 7px;
    margin-top: -7px;

}

.profielfoto.groot {
    object-fit: cover;
    width: 140px;
    height: 140px;
    margin-top: -10px;
}


/*
.profielfoto.groot:hover, .profielfoto.groot:active{
    cursor: pointer;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;

}*/

aside {
    margin-top: 40px;
    padding: 0;
    position: fixed;
}

.nav-header {
    font-weight: bold;
    font-family: "Bree Serif", Serif;
    font-size: 2.4rem;
    margin-bottom: 10px;
}


.container-fluid {
    padding: 0;
}

.control-label {
    font-weight: bold;
}

.lg-together {
    padding-left: 0;
    margin-bottom: 10px;
}

.settings input[type='submit'] {
    margin-top: 15px;
}


.vet {
    font-weight: bold;
}

.block-settings {
    margin-bottom: 50px;
}

.settings .control-label {
    margin-left: 0;
    padding-left: 0;
}


.nav-list .active{
    background-color: #eee;
}



/* name allowed? Nodig dat dit aanpasbaar is? Volgens Instagram wel. Bijvoorbeeld voor verkorte schrijfwijzes: Brent Schuddinck => Brent S.
/*
#inputName:hover{
    cursor: not-allowed;
}*/

.errorbox{
    padding-bottom: 10px;
}


.login-form{
    margin-bottom: 50px;
}



.ajax-feedback.error{
    color: #E74C3C;
}

.ajax-feedback.available{
    color: #2ECC71;
}

.ajax-feedback.msg{
    display: none;
}

#postForm{
    margin-top: 20px;
}

#postForm #file{
    margin-top: 5px;
    margin-bottom: 5px;
}


.centreer.tekst{
    text-align: center;
}

.thumbnail{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

/*
.thumbnail:hover{
    -webkit-animation: scale 0.3s forwards;
    -moz-animation: scale 0.3 forwards;
    -ms-animation: scale 0.3s forwards;
    -o-animation: scale 0.3s forwards;
    animation: scale 0.3s forwards;
}*/


.thumbnail.picturelist{
    border: 1px solid #EEEEEE; /* aanpassing cleaner design */
    /*border: 0;*/ /* aanpassing cleaner design */
    margin-bottom: 10px;
    text-align: center;

}

.thumbnail.picturelist img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    object-fit: cover;
    width: 292px;
    height: 292px;
}

.thumbnail.picturelist:hover, .thumbnail.picturelist:focus, .thumbnail.picturelist:active{
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
}

.search.nmessages{
    margin-top: -30px;
}

.container.search h2{
    text-align: center;
}


/*
@-webkit-keyframes scale{
    from {-webkit-transform: scale(1);}
    to {-webkit-transform: scale(1.05);}
}

@-moz-keyframes scale{
    from {-moz-transform: scale(1);}
    to {-moz-transform: scale(1.05);}
}


@-ms-keyframes scale{
    from {-ms-transform: scale(1);}
    to {-ms-transform: scale(1.05);}
}

@-o-keyframes scale{
    from {-o-transform: scale(1);}
    to {-o-transform: scale(1.05);}
}

@keyframes scale{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}*/

/*UPLOAD FORM*/

#file{
    padding-top: 5px;
    float: left;
}
.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
body .no-padding {
    padding: 0;
}
.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}
.status-upload ul > li {
    float: left;
}
.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}
.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}
.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-top: 9px;
    padding: 6px 15px;
}
.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}
.status-upload form button > i {
    margin-right: 7px;
}




@media screen and (min-width: 760px) {
    .template {
        padding-top: 80px;
    }

    .hide-on-mobile {
        display: block;
    }

    .fixed {
        position: fixed;
    }

    .scrollit {
        float: left;
    }

    .clearfix {
        clear: both;
    }

    .thumbnail.picturelist{
        border: 2px solid #EEEEEE; /* aanpassing cleaner design */
        /*border: 0; /* aanpassing cleaner design */
        margin-bottom: 30px;
        text-align: center;

    }

    .header.profielnaam{
        display: none;
    }

    .container.search h2{
        text-align: left;
    }




}



@media screen and (min-width: 960px) {
    .fixed{
        width: 250px;
    }

    .label-picture{
        padding-top: 62px;
    }

}

@media screen and (min-width: 1000px){
    .header.profielnaam{
        display: inline-block;
    }
}
