/* standaard styling */

body {
    font-family: "Arimo", sans-serif;

    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-x: hidden;

    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .name-label {
    font-family: "Bree Serif", serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

h3, .name-label {
    font-size: 1.6em;
}

p, span, div, .checkbox {
    font-size: 1.6rem;
}

.settings {
    margin-top: 0px;
}

/* overriding templates */
.template {
    padding-top: 40px;
}

.template.welcome {

    background: url("../img/assets/bg-home/berg.jpg") no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
}

.labeltext {
    position: absolute;
    text-indent: -9999px;
}

.hide-on-mobile {
    display: none;
}

.message {
    margin-bottom: 10px;
    display: block;
}

.message.title {
    font-weight: bold;
}

.profielfoto {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    border-radius: 10%;
}

.profielfoto.mini {
    object-fit: cover;
    width: 30px;
    height: 30px;

    margin-right: 7px;
    margin-top: -7px;

}

.profielfoto.groot {
    object-fit: cover;
    width: 140px;
    height: 140px;
    margin-top: -10px;
}


/*
.profielfoto.groot:hover, .profielfoto.groot:active{
    cursor: pointer;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;

}*/

aside {
    margin-top: 40px;
    padding: 0;
    position: fixed;
}

.nav-header {
    font-weight: bold;
    font-family: "Bree Serif", Serif;
    font-size: 2.4rem;
    margin-bottom: 10px;
}


.container-fluid {
    padding: 0;
}

.control-label {
    font-weight: bold;
}

.lg-together {
    padding-left: 0;
    margin-bottom: 10px;
}

.settings input[type='submit'] {
    margin-top: 15px;
}


.vet {
    font-weight: bold;
}

.block-settings {
    margin-bottom: 50px;
}

.settings .control-label {
    margin-left: 0;
    padding-left: 0;
}


.nav-list .active{
    background-color: #eee;
}



/* name allowed? Nodig dat dit aanpasbaar is? Volgens Instagram wel. Bijvoorbeeld voor verkorte schrijfwijzes: Brent Schuddinck => Brent S.
/*
#inputName:hover{
    cursor: not-allowed;
}*/

.errorbox{
    padding-bottom: 10px;
}


.login-form{
    margin-bottom: 50px;
}



.ajax-feedback.error{
    color: #E74C3C;
}

.ajax-feedback.available{
    color: #2ECC71;
}

.ajax-feedback.msg{
    display: none;
}

.centreer.tekst{
    text-align: center;
}

.thumbnail{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

/*
.thumbnail:hover{
    -webkit-animation: scale 0.3s forwards;
    -moz-animation: scale 0.3 forwards;
    -ms-animation: scale 0.3s forwards;
    -o-animation: scale 0.3s forwards;
    animation: scale 0.3s forwards;
}*/


.thumbnail.picturelist{
    /*border: 2px solid whitesmoke;*/ /* aanpassing cleaner design */
    border: 0; /* aanpassing cleaner design */
    margin-bottom: 30px;
}

.thumbnail.picturelist img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;

    object-fit: cover;
    width: 290px;
    height: 290px;
}

.thumbnail.picturelist:hover, .thumbnail.picturelist:focus, .thumbnail.picturelist:active{
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
}

.search.nmessages{
    margin-top: -30px;
}



/*
@-webkit-keyframes scale{
    from {-webkit-transform: scale(1);}
    to {-webkit-transform: scale(1.05);}
}

@-moz-keyframes scale{
    from {-moz-transform: scale(1);}
    to {-moz-transform: scale(1.05);}
}


@-ms-keyframes scale{
    from {-ms-transform: scale(1);}
    to {-ms-transform: scale(1.05);}
}

@-o-keyframes scale{
    from {-o-transform: scale(1);}
    to {-o-transform: scale(1.05);}
}

@keyframes scale{
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}*/


@media screen and (min-width: 760px) {
    .template {
        padding-top: 80px;
    }

    .hide-on-mobile {
        display: block;
    }

    .fixed {
        position: fixed;
    }

    .scrollit {
        float: left;
    }

    .clearfix {
        clear: both;
    }

}



@media screen and (min-width: 960px) {
    .fixed{
        width: 250px;
    }

    .label-picture{
        padding-top: 62px;
    }
}
