/* standaard styling */

body {
    font-family: "Arimo", sans-serif;

    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-x: hidden;

    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .name-label {
    font-family: "Bree Serif", serif;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
}

h3, .name-label {
    font-size: 1.6em;
}

p, span, div, .checkbox {
    font-size: 1.6rem;
}

.settings {
    margin-top: 50px;
}

/* overriding templates */
.template {
    padding-top: 60px;
}

.template.welcome {

    background: url("../img/assets/bg-home/berg.jpg") no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
}

.labeltext {
    position: absolute;
    text-indent: -9999px;
}

.hide-on-mobile {
    display: none;
}

.message {
    margin-bottom: 10px;
    display: block;
}

.message.title {
    font-weight: bold;
}

.profielfoto {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.profielfoto.mini {
    width: 30px;
    margin-right: 7px;
    margin-top: -7px;

}

.profielfoto.groot {
    width: 140px;
    margin-top: -10px;
}

.profielfoto.groot:hover, .profielfoto.groot:active{
    cursor: pointer;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    opacity: 0.5;

}

aside {
    margin-top: 40px;
    padding: 0;
    position: fixed;
}

.nav-header {
    font-weight: bold;
    font-family: "Bree Serif", Serif;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.container-fluid {
    padding: 0;
}

.control-label {
    font-weight: bold;
}

.lg-together {
    padding-left: 0;
    margin-bottom: 10px;
}

.settings input[type='submit'] {
    margin-top: 15px;
}

.vet {
    font-weight: bold;
}

.block-settings {
    margin-bottom: 50px;
}

.settings .control-label {
    margin-left: 0;
    padding-left: 0;
}


.nav-list .active{
    background-color: #eee;
}

/* name allowed? Nodig dat dit aanpasbaar is? Volgens Instagram wel. Bijvoorbeeld voor verkorte schrijfwijzes: Brent Schuddinck => Brent S.
/*
#inputName:hover{
    cursor: not-allowed;
}*/

.errorbox{
    padding-bottom: 10px;
}


.login-form{
    margin-bottom: 50px;
}



@media screen and (min-width: 760px) {
    .template {
        padding-top: 80px;
    }

    .hide-on-mobile {
        display: block;
    }

    .fixed {
        position: fixed;
    }

    .scrollit {
        float: left;
    }

    .clearfix {
        clear: both;
    }

}



@media screen and (min-width: 960px) {
    .fixed{
        width: 250px;
    }

    .label-picture{
        padding-top: 62px;
    }
}
