#only https
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

#2do: directe toegang tot ajax, classes en inc blokkeren.
ErrorDocument 404 /imdstagram/error/404.php
ErrorDocument 403 /imdstagram/error/404.php

#blokkeer indexes
Options -Indexes

